@model Request

@*<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>*@
@*<nav class="site-nav js-site-navbar mb-5 site-navbar-target">
    <div class="container">
        <div class="site-navigation text-center">
            <a href="index-2.html" class="text-center float-left logo">Rabalon</a>
            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block light d-lg-none"
               data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
    </div>
</nav>*@

<nav class="navbar navbar-default navbar-expand-lg" style="background-color: #2A3582; z-index:4;">

    <a class="navbar-a navbar-brand ml-1" style="margin-left: 2rem;" href="#">
        <img src="images/rabalon-logo-footer.png" width="126" height="44" alt="">
    </a>
  
    <ul class="navbar-top d-flex flex-row" style="list-style-type: none; margin-top: 1rem;">
      <li class="nav-item active">
        <a class="nav-link" style="color: #fff !important" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff !important" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff !important" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff !important" href="#">Examples</a>
      </li>
      <li class="nav-item">
        <a href="#contact-section" class="btn btn-primary"  role="button">Get a demo</a>
      </li>
    </ul>
</nav>

<div id="home-top-video">
    <video autoplay loop muted>
    <source src="videos/metahuman.mp4" type="video/mp4" />
     Your browser does not support the video tag.
    </video>
        <div id="home-text" class="container" style="z-index: 1;">
            <div class="row justify-content-left">
                <div class="col-lg-8">
                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="0">
                        Runo
                    </h1>
                    <h1 class="text-white font-weight-bold" data-aos="fade-up" data-aos-delay="0">
                        Your Virtual Assistant
                    </h1>
                    <h4 class="text-white" data-aos="fade-up" data-aos-delay="0">
                        Our virtual 3D human assistant is revolutionizing the way businesses interact with their customers, providing personalized and                              engaging experiences that drive results.
                    </h4>
                </div>
            </div>
        </div>
</div>

<section class="site-section" id="about-section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0"  data-aos-delay="0">
                <div class="img-wrap">
                    <img src="images/team-homepage-rabaon-1.png" alt="Image placeholder" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 pl-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="section-heading">
                    <h2>About Us</h2>
                </div>
                <p>
                    Rabalon is an IT service provider that is helping companies with innovative solutions. 
                    We always keep the client’s best interest in mind. Our dedicated and expert team helps us 
                    develop cutting-edge solutions that bring value to our clients and help in business growth.
                </p>
                <p>
                    Rabalon emerged in 2019, as an IT service provider and is helping companies with its innovative solutions. 
                    We always keep the client’s best interest in mind. Our dedicated and expert team helps us 
                    develop cutting-edge solutions that bring value to our clients and help in business growth.
                </p>
                <p>
                    <a href="https://rabalon.com/" target="_blank"  class="btn btn-primary smoothscroll">Learn more</a>
                    <a href="#contact-section" class="btn btn-secondary">Get a demo</a>
                </p>
            </div>
        </div>
    </div>
</section>


<div class="untree_co-section" id="services-section">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
                <div class="site-service-item" data-animate-effect="fadeIn">
                    <span class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-display" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z" />
                            <path fill-rule="evenodd"
                                  d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
                        </svg>
                    </span>
                    <h3 class="mb-4">ChatBot</h3>
                    <p>
                        Businesses use chatbots for a variety of cases, such as customer service. 
                        Simply put, an artificial intelligence service can be used to answer simple questions, 
                        help users book services, get more information about a specific topic, buy a product, etc. 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up" data-aos-delay="200">
                <div class="site-service-item" data-animate-effect="fadeIn">
                    <span class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-binoculars" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
                        </svg>
                    </span>
                    <h3 class="mb-4">Metahumans</h3>
                    <p>
                        MetaHuman is a complete framework that gives any creator the power to use highly realistic human characters in any way imaginable.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up" data-aos-delay="300">
                <div class="site-service-item" data-animate-effect="fadeIn">
                    <span class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket3" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z" />
                            <path d="M0 6.5A.5.5 0 0 1 .5 6h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zM.81 9c0 .035.004.07.011.105l1.201 5.604A1 1 0 0 0 3 15.5h10a1 1 0 0 0 .978-.79l1.2-5.605A.495.495 0 0 0 15.19 9h-1.011L13 14.5H3L1.821 9H.81z" />
                        </svg>
                    </span>
                    <h3 class="mb-4">Artificial Intelligence</h3>
                    <p>
                        Rabalon work with most Natural Language Processing (NLP) services. Get started today and plug your chatbot into a Metahuman ,web or mobile project. 
                        Build your solution with Dialogflow, Wit.ai or any other NLP services
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="untree_co-section" id="services-section">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <h2>Examples</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
                <iframe class="youtube-video"  src="https://www.youtube.com/embed/YVWrbXiKyxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 text-center mb-5" data-aos="fade-up" data-aos-delay="300">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/qAVj_OIzKRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

 
<div class="untree_co-section" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Get a demo</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
           
                <form asp-action="Add" method="post" role="form" class="contact-form" enctype="multipart/form-data">
                        <div class="row">
                        
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Name" for="fname">Name*</label>
                                    <input asp-for="@Model.Name" type="text" class="form-control" id="fname" aria-describedby="Name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Surname" for="fname">Surname*</label>
                                    <input asp-for="@Model.Surname" type="text" class="form-control" id="fname" aria-describedby="Surname">
                                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Company" for="email">Company Name</label>
                            <input asp-for="@Model.Company" type="text" class="form-control" id="company" aria-describedby="Company">
                            <span asp-validation-for="@Model.Company" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Email" for="email">Email address*</label>
                            <input asp-for="@Model.Email" type="email" class="form-control" id="email" aria-describedby="Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn-submit-last btn btn-primary">Send Request</button>
                </form>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h3 class="h5 mb-4">Contact Info</h3>
                <address class="text-black d-flex">
                    <span class="mt-1 icon-room mr-2"></span><span>
                        152 Haydar Aliyev Avenue, 
                        Baku, Azerbaijan, AZ1029
                    </span>
                </address>
                <ul class="list-unstyled ul-links mb-4">
                    <li class="mb-3">
                        <a href="tel://11234567890" class="d-flex">
                            <span class="mt-1 icon-phone mr-2"></span><span>+(994) 50 2613550</span>
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="" target="_blank" class="d-flex">
                            <span class="mt-1 icon-globe mr-2"></span><span>info@rabalon.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-footer">
    <div class="footer-dots"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="widget">
                    <h3>About Rabalon<span class="text-primary">.</span> </h3>
                    <p>
                        A team full of leaders & innovators working together to bring <br/> creative IT solutions to our clients’ business needs.
                    </p>
                </div>
                <div class="widget">
                    <h3>Connect</h3>
                    <ul class="list-unstyled social">
                        <li><a href="https://www.facebook.com/rabalonaz/" target="_blank"><span class="fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/rabalonaz/" target="_blank"><span class="fa-brands fa-linkedin-in"></span></a></li>
                        <li><a href="https://www.instagram.com/rabalonaz/" target="_blank"><span class="fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="widget">
                    <h3>Contact</h3>
                    <address>
                        152 Haydar Aliyev Avenue,
                        Baku, Azerbaijan, AZ1029
                    </address>
                    <ul class="list-unstyled links mb-4">
                        <li><a href="#">+(994) 50 2613550</a></li>
                        <li><a href="#">info@rabalon.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p>

                    Copyright &copy;
                    <script data-cfasync="false"
                            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> - All rights reserved
                    <i class="icon-heart text-danger" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/custom.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
        integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
        data-cf-beacon='{"rayId":"79c6a3b29f2e9dc9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
        crossorigin="anonymous">
</script>

